
{% extends 'user/user_base.html' %}
{% load static  %}
{% block content %}
      {% if messages %}
<script>
alert("{{ messages }}")
</script>
{% endif %}
    <!-- slider_area_start -->
    <div class="slider_area">
        <div class="single_slider  d-flex align-items-center slider_bg_1">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-7 col-md-6">
                        <div class="slider_text">
                            <h5 class="wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".2s">4536+ Jobs listed</h5>
                            <h3 class="wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".3s">Company panel</h3>
                            <p class="wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".4s">We provide online instant cash loans with quick approval that suit your term length</p>
                            <div class="sldier_btn wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".5s">
{#                                <a href="#" class="boxed-btn3">Upload your Resume</a>#}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ilstration_img wow fadeInRight d-none d-lg-block text-right" data-wow-duration="1s" data-wow-delay=".2s">
            <img src="{% static 'assets/img/banner/illustration.png' %}" alt="">
        </div>
    </div>
    <!-- slider_area_end -->

    <!-- catagory_area -->
 <section class="contact-section section_padding">
    <div class="container">
{#      <div class="d-none d-sm-block mb-5 pb-4">#}
{#        <div id="map" style="height: 480px;"></div>#}
{#        <script>#}
{#          function initMap() {#}
{#            var uluru = {lat: -25.363, lng: 131.044};#}
{#            var grayStyles = [#}
{#              {#}
{#                featureType: "all",#}
{#                stylers: [#}
{#                  { saturation: -90 },#}
{#                  { lightness: 50 }#}
{#                ]#}
{#              },#}
{#              {elementType: 'labels.text.fill', stylers: [{color: '#ccdee9'}]}#}
{#            ];#}
{#            var map = new google.maps.Map(document.getElementById('map'), {#}
{#              center: {lat: -31.197, lng: 150.744},#}
{#              zoom: 9,#}
{#              styles: grayStyles,#}
{#              scrollwheel:  false#}
{#            });#}
{#          }#}
{#          #}
{#        </script>#}
{#        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDpfS1oRGreGSBU5HHjMmQ3o5NLw7VdJ6I&callback=initMap"></script>#}
{#        #}
{#      </div>#}


      <div class="row">
        <div class="col-12">
          <h2 class="contact-title">ADD Complaints</h2>
        </div>
        <div class="col-lg-8">
          <form action="" method="post" ENCTYPE="multipart/form-data">
              {% csrf_token %}
            <div class="row">
              <div class="col-12">

              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <input style="background: #0f2137;color: white"  class="form-control" name="Complaint" id="name" type="text"  placeholder = 'Enter Complaint'>
                </div>
              </div>
              <div class="col-sm-6">

              </div>



            </div>
            <div class="form-group mt-3">
              <button type="submit" class="button button-contactForm btn_4 boxed-btn">SUBMIT</button>
            </div>
          </form>
        </div>
{#        <div class="col-lg-4">#}
{#          <div class="media contact-info">#}
{#            <span class="contact-info__icon"><i class="ti-home"></i></span>#}
{#            <div class="media-body">#}
{#              <h3>Buttonwood, California.</h3>#}
{#              <p>Rosemead, CA 91770</p>#}
{#            </div>#}
{#          </div>#}
{#          <div class="media contact-info">#}
{#            <span class="contact-info__icon"><i class="ti-tablet"></i></span>#}
{#            <div class="media-body">#}
{#              <h3>00 (440) 9865 562</h3>#}
{#              <p>Mon to Fri 9am to 6pm</p>#}
{#            </div>#}
{#          </div>#}
{#          <div class="media contact-info">#}
{#            <span class="contact-info__icon"><i class="ti-email"></i></span>#}
{#            <div class="media-body">#}
{#              <h3>support@colorlib.com</h3>#}
{#              <p>Send us your query anytime!</p>#}
{#            </div>#}
{#          </div>#}
{#        </div>#}
      </div>
    </div>
     <div class="catagory_area">
        <div class="container">
            <div class="row cat_search">
                <div class="col-lg-3 col-md-4">
                </div>
                <table class="table table-bordered table-striped table-hover" style="background-color: #002633;width: 1000px;">
                                 <th class="success" style="color: white;">No</th>
                                 <th class="success" style="color: white;">Name</th>
                                 <th class="success" style="color: white;">complaint</th>
                                 <th class="success" style="color: white;">Reply</th>
                                 <th class="success" style="color: white;">Delete</th>

              {% for i in feedback %}
                                <tr style="background-color:white;width: 700px;">
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ i.USER.first_name }}</td>
                                    <td>{{ i.complaint }}</td>
                                    <td>{{ i.reply }}</td>
                                    <td><button style="background-color:lightslategray"><a href="delete_complaint?id={{ i.id}}" class=" btn btn-success" style="color:black">delete</a></button></td>
                                </tr>
              {% endfor %}



                            </table>
        </div>
    </div>
  </section>
    <!-- /testimonial_area  -->
{% endblock %}

